@font-face{
    font-family: Quick Tomn;
    src: url(../src/assets/Fonts/Quick\ Town.ttf)
}
@font-face{
    font-family: Montserrat;
    src: url(../src/assets/Fonts/Montserrat-VariableFont_wght.ttf)
}

@import "tailwindcss";


@theme{
    --font-Quick : Quick Tomn , "sans-serif";
    --font-Montserrat : Montserrat , "sans-serif";
}
